<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Kirin Kawamoto</title>
    <link rel="stylesheet" href="../css/style.css"> <!-- Updated path to the new CSS file -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="projects.html">Projects</a></li>
        </ul>
        <li class="icon"><a href="#"><img src="../resources/custom-icon.png" alt="Custom Icon"></a></li>
    </nav>
    
    <main>
        <section class="intro">
            <img src="../resources/profile.jpg" alt="Kirin Kawamoto">
            <div class="description">
                <h1>Hi, I'm Kirin Kawamoto</h1>
                <p>I am a fourth-year student majoring in Aerospace Engineering and Computer Science. I enjoy hiking, snowboarding, fishing, and camping. This semester, I am working on improving my software development skills.</p>
                <a href="resume.html" class="resume-link">View My Resume</a>
            </div>
        </section>
    </main>
    
    <div class="instagram-bar">
        <a href="https://www.instagram.com/kirinkawamoto" target="_blank">
            <i class="fab fa-instagram"></i> Follow me on Instagram
        </a>
    </div>
</body>
</html>
